*~
*.aux
*.bak
*.cfg
*.config
*.crt
*.csv
*.dot
*.exe
*.hprof
*.iml
*.lock
*.log
*.msi
*.nupkg
*.o
*.obj
*.orig
*.pem
*.pfx
*.pyc
*.rej
*.src.tar.xz
*.swn
*.swo
*.swp
*.zip
.DS_Store
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea
bench-results.json
core.*
env
hs_err_pid*.log
jmh_result.json
workingsets.xml

# Directories
.bloop/
.bsp/
.gradle/
.idea/
.metadata/
.metals/
.mvn/
.project/
.settings/
.vscode/
.vscode-template/
bazel-*/
build/
clibraries/
llvm-*.src/
svmbuild/
target/
test-suite-*.src/

# Claude specific
.claudeignore
CLAUDE.md
CLAUDE*local.md
.claude/

# Project specific
*_LOCAL.ini
*_LOCAL.json
*_LOCAL.md
*_LOCAL.txt
*_LOCAL/
kafka/
