[submodule "kafka"]
	path = kafka
	url = https://github.com/apache/kafka.git

[submodule "kafka-streams-examples"]
	path = kafka-streams-examples
	url = https://github.com/confluentinc/kafka-streams-examples.git
